.contacts-wrapper {
  width: 400px;

  margin: 24px auto;
  padding: 0 24px;

  border: 1px solid transparent;

  background-color: #fdfdfd;
  box-shadow: 0 0 2px 4px rgba(51, 51, 51, .1);
}

h3 {
  margin-top: 24px;
}

a {
  position: relative;

  &:hover .icon {
    display: inline;
  }
}

.icon {
  display: none;
  position: absolute;

  top: 16px;
  right: 10px;
}
