form {
  max-width: 400px;

  margin: 24px auto 0;
  padding: 24px;

  background-color: #fdfdfd;
  box-shadow: 0 0 2px 2px rgba(51, 51, 51, 0.1);
}

.input-wrapper {
  position: relative;

  &:not(:first-child):hover .icon {
    display: inline;
  }
}

.icon {
  display: none;
  position: absolute;

  top: 8px;
  right: 10px;
}

.buttons {
  display: flex;
  align-items: center;
}
